//COLORS
$color-white: #fff;
$color-white-dark: #FFEFD5;
$color-dark-grey: #777;
$color-dark-grey-2: #444;
$color-light-grey: #eee;
$color-black: #000;
$color-light-blue: #a8c3bc;

$color-primary: #009AE1; 
$color-primary-light:#6BD0B1;
$color-primary-dark: #0070A4; 

$color-secondary: #3D9B00; 
$color-secondary-light: #80FF00; 
$color-secondary-dark: #0B5900; 

$color-tertiary: #FF6800; 
$color-tertiary-light: #FFF700; 
$color-tertiary-dark: #E66800; 

$color-quaternary: #FF002B; 
$color-quaternary-light: #FD77A0; 
$color-quaternary-dark: #D10023; 


//GRID
$grid-width:114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6.5rem;
$gutter-horizontal: 6rem;

//FONT
$default-font-size: 2rem;

//BORDER_RADIUS
$rounded-corners: 3px;
